block content
  div(id="sidebar-container" class="sidebar")
    div(class="sidebar-separator-title text-muted d-flex align-items-center menu-collapsed")
    div( class="justify-content-center align-items-center")
      img(src="./images/about.jpg" alt="Company Manager" title="Company Manager" height="50px" width="60px")
      h5.text-white Beecroft Davies
      p.text-white Chief Executive Officer
    
    a(href="#" class="d-flex align-items-center dashboard-link")
      span(class="fa fa-user" title="Log Out")
      span(class="menu-collapsed") Dashboard
    a(href="#" class="d-flex align-items-center dashboard-link")
      span(class="fa fa-camera-retro" title="Log Out")
      span(class="menu-collapsed") Front Page
    a(href="#" class="d-flex align-items-center dashboard-link")
      span(class="fa fa-dashboard" title="Log Out")
      span(class="menu-collapsed") UI Elements
    a(href="#" class="d-flex align-items-center dashboard-link")
      span(class="fa fa-cog fa-fw" title="Log Out")
      span(class="menu-collapsed") Components
    a(href="#" class="d-flex align-items-center dashboard-link")
      span(class="fa fa-square" title="Log Out")
      span(class="menu-collapsed") Buttons
    a(href="#" class="d-flex align-items-center dashboard-link")
      span(class="fa fa-wpforms" title="Log Out")
      span(class="menu-collapsed") Forms
    a(href="#" class="d-flex align-items-center dashboard-link")
      span(class="fa fa-table" title="Log Out")
      span(class="menu-collapsed") Tables
    a(href="#" class="d-flex align-items-center dashboard-link")
      span(class="fa fa-sliders" title="Log Out")
      span(class="menu-collapsed") Carousels
    a(href="#" class="d-flex align-items-center dashboard-link")
      span(class="fa fa-bar-chart" title="Log Out")
      span(class="menu-collapsed") Charts