include includes/header.pug
block content
  link(rel='stylesheet' , href='/stylesheets/style.css')
  body
    div(class="container pt-3")
      h2.pb-2 AgroHub Mart
      p
        a(href="/farmer" class="btn btn-success") Farmers
      p
        a(href="/buyer" class="btn btn-success") Buyers
        
  
  include includes/footer.pug


