 div(class="col p-0 w-25")
          div(class="col mt-2 p-3")
            div(class="row")
              div(class="container d-flex")
                div.col-md-6 
                  div.card
                    div.bg-col
                      div.ml-2.mt-3.pb-5.stats 
                        h5 Current week
                        p Summary statistics
                    div(class="col-md-12 mb")
                      div(class="row")
                        div(class="col-md-6")
                          p.mt-4.d-flex.summary Summary values
                          div
                            p.num 810
                              div.value
                               p FROM
                               p.font-weight-bold.inc 970
                               p.change CHANGE
                               p.text-success.font-weight-bold.perc 7%
                        div(class="col-md-6 animate-box mt-4")
                          div(class="progress-wrap")
                            h5 Current week
                            div(class="progress")
                                div(class="progress-bar color-1" role="progressbar" aria-valuenow="89%"
                                    aria-valuemin="0" aria-valuemax="100" style="width:89%")
                                  span 89%


                          div(class="progress-wrap")
                            h5 Last week
                            div(class="progress")
                                div(class="progress-bar color-2" role="progressbar" aria-valuenow="82%"
                                    aria-valuemin="0" aria-valuemax="100" style="width:82%")
                                  span 82%

                          div(class="progress-wrap")
                            h5 Target value
                            div(class="progress")
                                div(class="progress-bar color-3" role="progressbar" aria-valuenow="98%"
                                    aria-valuemin="0" aria-valuemax="100" style="width:98%")
                                  span 98%
                    div(class="bg-col-2")
                      div
                        p.ml-3.info INFORMATION
                      div.float-right 
                        p.mr-2.show show more information
                
                div.col-md-6 
                  div.shadow.pt-3.pb-5
                    h5.ml-3 Active tasks
                    div
                      p(class="fa fa-checkbox ml-3 mr-2 mt-3") Call to Mary
                        span(class="btn-sm btn-primary ml-2") Today
                    div 
                      p(class="fa fa-checkbox ml-3 mr-2") Buy milk on the way home
                    div
                      p(class="fa fa-checkbox ml-3 mr-2") Finish the previous task
                        span(class="btn-sm btn-danger ml-2") important 
                    div 
                      p(class="fa fa-checkbox ml-3 mr-2") Go to home
                    div 
                      p(class="fa fa-checkbox ml-3 mr-2") Finish the current template
                    div
                      p(class="fa fa-checkbox ml-3 mr-2") Write documentation
                        span(class="btn-sm btn-success ml-2") well  
                    div 
                      p(class="fa fa-checkbox ml-3 mr-2") Make statistics block
                    div 
                      p(class="fa fa-checkbox ml-3 mr-2") Add elements to this list
                    div 
                      p(class="fa fa-checkbox ml-3 mr-2") Finish list
